<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
<body>
    <%- include('../partials/loading'); %>
    <%- include('../partials/popup'); %>
    <%- include('../partials/datePicker'); %>

    <%- include('../partials/navbar'); %>

    <div id="calender-container">
        <div id="calender-controls">
            <div class="date-selector">
                <button onClick="prevMonth()"><i class="material-icons">keyboard_arrow_left</i></button>
                <p id="date-label"></p>
                <button onClick="nextMonth()"><i class="material-icons">keyboard_arrow_right</i></button>
            </div>
            <div class="filter-controls">
                <div>
                    <label for="filter">Location: </label>
                    <div class="filter-box">
                        <select name="filter" id="filter" onchange="handleFilterChange(event)">
                            <option value="0">All</option>
                        </select>
                    </div>
                </div>

                <div>
                    <label for="building-filter">Building:</label>
                    <div class="filter-box">
                        <select name="building-filter" id="building-filter" onchange="handleBuildingFilterChange(event)">
                            <option value="0">All</option>
                        </select>
                    </div>
                </div>

                <div>
                    <label for="room-filter">Room:</label>
                    <div class="filter-box">
                        <select name="room-filter" id="room-filter">
                            <option value="0">All</option>
                        </select>
                    </div>
                </div>

                <div class="button-container">
                    <button class="btn" id="reset-btn" onclick="handleReset()">Reset</button>
                    <button class="btn" onclick="handleEvents()">Submit</button>
                </div>
            </div>
        </div>

        <div id="calender-labels">
            <p>s<span>unday</span></p>
            <p>m<span>onday</span></p>
            <p>t<span>uesday</span></p>
            <p>w<span>ednesday</span></p>
            <p>t<span>hursday</span></p>
            <p>f<span>riday</span></p>
            <p>s<span>aturday</span></p>
        </div>
        
        <div id="calender"></div>
    </div>
    <%- include('../partials/footer'); %>
</body>
<script src="/scripts/calendar.js"></script>
<script>

    async function handleEvents() {
        loading();
        const percentCompleteDOM = document.getElementById('percent-complete');
        const percentProgressDOM = document.getElementById('progress');

        //reset number of events
        dates.map(date => date.numberOfEvents = 0)

        allEvents = await getEvents(currentMonth, currentYear, 'calendar')
        events = [];

        if (buildingFilterDOM.value > 0 && roomFilterDOM.value > 0) {
            console.log('room filter')
            events = allEvents.filter(event => event.Location_ID == calendarFilterDOM.value)

            const allEventIds = events.map(event => event.Event_ID).sort()
            console.log(allEventIds)
            // allEventIds.length = 100
            const eventIDs = await getEventRoomsFromIDs(allEventIds, roomFilterDOM.value);
            events = events.filter(event => eventIDs.includes(event.Event_ID))

        } else if (buildingFilterDOM.value > 0) {
            console.log('building filter')
            events = allEvents.filter(event => event.Location_ID == calendarFilterDOM.value)

            const allEventIds = events.map(event => event.Event_ID).sort()

            const currRooms = roomsList.filter(building => building.Building_ID == buildingFilterDOM.value)[0].rooms.map(room => room.Room_ID);
            
            let eventIDs = []
            
            for (id of currRooms) {
                console.log(id)
                const newEventIDs = [...new Set(await getEventRoomsFromIDs(allEventIds, id))];
                eventIDs = eventIDs.concat(newEventIDs);
                console.log(eventIDs)
            }

            eventIDs = [...new Set(eventIDs)]
            events = events.filter(event => eventIDs.includes(event.Event_ID))

        } else if (calendarFilterDOM.value > 0) {
            console.log('location filter')
            events = allEvents.filter(event => event.Location_ID == calendarFilterDOM.value)
        } else {
            console.log('no filter')
            events = allEvents;
        }

        // console.log(calendarFilterDOM.value)
        // console.log(buildingFilterDOM.value)
        // console.log(roomFilterDOM.value)

        //LOCATION
        // if (calendarFilterDOM.value > 0) {
        //     events = allEvents.filter(event => event.Location_ID == calendarFilterDOM.value)
        // }

        //ROOM
        // if (buildingFilterDOM.value > 0 && roomFilterDOM.value > 0) {
        //     let numOfEvents = events.length;
        //     let counter = 0;
        //     for (let i = 0; i < events.length; i ++) { //loop through all events
        //         const percentComplete = `${Math.floor((counter / numOfEvents) * 100)}%`;
        //         percentCompleteDOM.innerText = percentComplete;
        //         percentProgressDOM.style.height = percentComplete;
        //         counter ++;

        //         const {Event_ID} = events[i];
        //         const roomIDs = await getEventRoomIDs(Event_ID); //get array of Room_IDs
                
        //         if (!roomIDs.filter(roomID => roomID == roomFilterDOM.value).length) {
        //             events.splice(i, 1);
        //             i --;
        //         }

        //     }
        //BUILDING
        // } else if (buildingFilterDOM.value > 0) {

        //     let numOfEvents = events.length;
        //     let counter = 0;

        //     const currentBuilding = roomsList.filter(building => building.Building_ID == buildingFilterDOM.value)[0];
        //     const currentBuildingRooms = currentBuilding.rooms.map(room => room.Room_ID);

        //     for (let i = 0; i < events.length; i ++) { //loop through all events
        //         const {Event_ID} = events[i];
        //         const roomIDs = await getEventRoomIDs(Event_ID); //get array of Room_IDs

        //         const percentComplete = `${Math.ceil((counter / numOfEvents) * 100)}%`;
        //         percentCompleteDOM.innerText = percentComplete;
        //         percentProgressDOM.style.height = percentComplete;
        //         counter ++;

        //         if (!roomIDs.filter(roomID => currentBuildingRooms.includes(roomID)).length) {
        //             events.splice(i, 1);
        //             i --;
        //         }
        //     }
        // }
        
        //loop through all data
        //check if data date is in dates array
        //log data

        for (let i = 0; i < events.length; i ++) {
            const {Event_Start_Date, Cancelled, Location_ID} = events[i];
            const eventDate = new Date(Event_Start_Date);
            dates.map(date => {
                const {day} = date;
                if (day == eventDate.toDateString() && !Cancelled) {
                    date.numberOfEvents ++;
                }
                return date;
            })
        }
        
        percentCompleteDOM.innerText = '';
        percentProgressDOM.style.height = '0%';
        doneLoading();
        drawCalendar();
    }
    handleEvents();

    const handleFilterChange = async (e) => {
        const filterValue = e.target.value;

        resetBtnDOM.style.visibility = 'visible';
        resetBtnDOM.style.display = 'block';

        getBuildingFilters(filterValue)
        if (filterValue == 0) getRoomFilters(filterValue)

        return filterValue;
    }

    const handleBuildingFilterChange = async (e) => {
        const filterValue = e.target.value;

        getRoomFilters(filterValue)

        return e.target.value;
    }

    const handleReset = () => {
        calendarFilterDOM.value = 0;
        buildingFilterDOM.value = 0;
        roomFilterDOM.value = 0;
        getBuildingFilters(0);
        getRoomFilters(0);
        handleEvents();
        resetBtnDOM.style.visibility = 'hidden';
        resetBtnDOM.style.display = 'none';
    }

    function updateDates() {
        dates = getMonth(currentYear, currentMonth);
        handleEvents()
    }

    function nextMonth() {
        const nextCurrMonth = currentMonth + 1;
        if (nextCurrMonth > 11) {
            currentYear ++;
            currentMonth = 0;
        } else {
            currentMonth ++;
        }
        updateDates();
    }
    function prevMonth() {
        const prevCurrMonth = currentMonth - 1;
        if (prevCurrMonth < 0) {
            currentYear --;
            currentMonth = 11;
        } else {
            currentMonth --;
        }
        updateDates();
    }

    const getEventsList = async (day) => { //day is in short form (Fri Aug 05 2022)
        const daysEvents = getEventsFromDay(day);

        const eventsList = async () => {
            return Promise.all(daysEvents.map(async (event) => {
                const {Event_Title, Event_Start_Date, Event_End_Date, Meeting_Instructions, Event_ID, Location_ID, Minutes_for_Cleanup, Minutes_for_Setup} = event;

                const eventRooms = await getEventRooms(Event_ID);

                const rooms = async () => {
                    return Promise.all(eventRooms.map((eventRoom) => getRoom(eventRoom.Room_ID)))
                }

                return {
                    Event_Title: Event_Title,
                    Event_Start_Date: Event_Start_Date,
                    Event_End_Date: Event_End_Date,
                    Meeting_Instructions: Meeting_Instructions,
                    Rooms: await rooms(),
                    Event_ID: Event_ID,
                    Location_ID: Location_ID,
                    Minutes_for_Setup: Minutes_for_Setup,
                    Minutes_for_Cleanup: Minutes_for_Cleanup
                }
            }))
        }
        return await eventsList()
    }
    
    
</script>
</html>